{% extends "layout/dashboard.html" %} {% block content %}
<div class="header-large">
  <h1>Config</h1>
</div>
<div class="platform-container-cover">
  <div class="platform-container">
    <div class="content">
      <form
        class="config-form"
        name="tradingConfigForm"
        hx-post="/api/generate-payload"
        hx-trigger="click from:#genPayload"
        hx-target="#payload-response"
        hx-ext="json-enc"
        hx-swap="innerHTML"
        hx-on="htmx:afterSwap: 
        navigator.clipboard.writeText(
          document.querySelector('#payload-response').innerText
        )"
      >
        <div class="trade-setup">
          <div class="form-group">
            <label for="direction">direction</label>
            <select id="direction" name="direction">
              <option>BUY</option>
              <option>SELL</option>
            </select>
          </div>
          <div class="form-group">
            <label for="tradeAmount">Trade Amount</label>
            <input type="number" id="tradeAmount" name="trade_amount" required />
          </div>
          <div class="form-group">
            <label for="takeProfit">take profit</label>
            <input type="number" id="takeProfit" name="take_profit" required />
          </div>
          <div class="form-group">
            <label for="stopLoss">stop loss</label>
            <input type="number" id="stopLoss" name="stop_loss" required />
          </div>
          <div class="form-group">
            <label for="hookName">hook name</label>
            <input type="text" id="hookName" name="hook_name" required />
          </div>
          <div class="form-group checkbox-group">
            <label>exit criteria</label>
            <div class="checkbox-options">
              <label>
                <input
                  type="checkbox"
                  id="takeProfitExit"
                  name="take_profit_exit"
                />
                <span>
                  <i data-lucide="check"></i>
                </span>
                <label for="takeProfitExit">take profit</label>
              </label>

              <label>
                <input
                  type="checkbox"
                  id="stopLossExit"
                  name="stop_loss_exit"
                />
                <span>
                  <i data-lucide="check"></i>
                </span>
                <label for="stopLossExit">stop loss</label>
              </label>

              <label>
                <input
                  type="checkbox"
                  id="strategyExit"
                  name="strategy_exit"
                />
                <span>
                  <i data-lucide="check"></i>
                </span>
                <label for="strategyExit">Strategy</label>
              </label>

              <label>
                <input
                  type="checkbox"
                  id="endOfDayCloseExit"
                  name="end_of_day_close_exit"
                />
                <span>
                  <i data-lucide="check"></i>
                </span>
                <label for="endOfDayCloseExit">EOD close</label>
              </label>

              <label>
                <input
                  type="checkbox"
                  id="endOfWeekCloseExit"
                  name="end_of_week_close_exit"
                />
                <span>
                  <i data-lucide="check"></i>
                </span>
                <label for="endOfWeekCloseExit">EOW close</label>
              </label>

            </div>
          </div>
        </div>
        <button id="genPayload" type="button">
          <i data-lucide="copy"></i>
          Copy Payload
        </button>
      </form>

      <div id="payload-response"></div>

      <!-- <div class="payload">
              <h2>Payload</h2>
              <div class="payload-content">
                { "epic": "{{ticker}}", "timeframe": "{{interval}}", "profit":
                1, }
              </div>
              <button>Copy</button>
            </div> -->
    </div>
  </div>
</div>
{% endblock %}
