{% extends "layout/dashboard.html" %} {% block content %}
<div hx-get="/history/data" hx-trigger="load, every 5s" hx-swap="innerHTML">
  <div class="history-header header-large">
    <h1>History</h1>
    <div class="history-summary">
      <div class="history-cluster">
        <div class="cluster">P <span id="profit">{{ profits }}</span></div>
        <div class="cluster">L <span id="loss">{{ losses }}</span></div>
        <div class="cluster">C <span id="spread">{{ spreads }}</span></div>
        <div class="cluster">PnL <span>{{ pnl }}</span></div>
      </div>
      <div class="trade-cluster">Trades: {{ count }}</div>
    </div>
  </div>
  <div class="platform-container-cover">
    <div class="platform-container history">
      <div class="content">
        <div class="trading-history">
          <table>
            <thead>
              <tr>
                <th>Epic</th>
                <th>Size</th>
                <th>Direction</th>
                <th>P&L</th>
                <th>opened</th>
                <th>closed</th>
                <th>Entry price</th>
                <th>Exit price</th>
                <th>Exit type</th>
                <th>Hook name</th>
              </tr>
            </thead>
            <tbody>
              {% for trade in trades %}
              <tr>
                <td>{{ trade.epic }}</td>
                <td>{{ trade.size }}</td>
                <td>{{ trade.direction }}</td>
                <td>{{ trade.pnl }}</td>
                <td>{{ trade.opened_at }}</td>
                <td>{{ trade.closed_at }}</td>
                <td>{{ trade.entry_price }}</td>
                <td>{{ trade.exit_price }}</td>
                <td>{{ trade.exit_type }}</td>
                <td>{{ trade.hook_name }}</td>
              </tr>
              {% else %}
              <tr>
                <td style="text-align: center" colspan="10">No trades found</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <div class="pagination">
			<a href="#">
				<i data-lucide="chevron-left"></i>
			</a>
			<a href="#">1</a>
			<a href="#">2</a>
			<a href="#">...</a>
			<a href="#"><i data-lucide="chevron-right"></i></a>
		</div> -->
  </div>
</div>
{% endblock %}
